@import "compass/layout/stretching";

.stretch{
	position: relative;//必须
	margin: 10px auto;
	width: 200px;
	height: 200px;
	&__content{
		@include stretch;
		line-height: 200px;
		font-size: 16px;
		color: #fff;
		text-align: center;
		background-color: #f60;
	}
}