<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一些组件</title>
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/component.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <ul class="side-nav col-md-3">
                <li class="side-nav__header"></li>
                <li class="side-nav__item">分页</li>
            </ul>

            <div class="col-md-9">
                <h2>分页</h2>
                <ul class="paging">
                    <li class="disabled"><a href="javascript:void(0);" class="first-page">首页</a></li>
                    <li class="disabled"><a href="javascript:void(0);" class="prev-page">上一页</a></li>
                    <li class="current"><a href="javascript:void(0);" class="normal-page" data-id="1">1</a></li>
                    <li><a href="javascript:void(0);" class="normal-page" data-id="2">2</a></li>
                    <li><a href="javascript:void(0);" class="normal-page" data-id="3">3</a></li>
                    <li><a href="javascript:void(0);" class="normal-page" data-id="4">4</a></li>
                    <li><a href="javascript:void(0);" class="next-page">下一页</a></li>
                    <li><a href="javascript:void(0);" class="last-page">末页</a></li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>
