<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../assets/css/demo/demo-layout.css">
</head>

<body>
	<div class="container">
		<h2>一行上多个元素</h2>
	    <div class="labels kite">
	    	<label class="kite__item labels__item">高</label>
	    	<label class="kite__item labels__item">富</label>
	    	<label class="kite__item labels__item">帅</label>
	    </div>

		<h2>两端对其</h2>
	    <div class="navs kite kite--justify">
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航1</div>
	        </a>
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航2</div>
	        </a>
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航3</div>
	        </a>
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航4</div>
	        </a>
	    </div>

		<h2>复杂的布局</h2>
		<div class="info">
			<a href="###" class="kite kite--fill">
				<img class="kite__item info__img">
	        	<div class="kite__item kite__item--full">
	        		<h3 class="info__title">某某几日游</h3>
	        		<div class="kite kite--justify">
	        			<div class="kite__item info__item">
	        				导游：Shary Li</div>
	        			<div class="kite__item info__item">3000元</div>
	        		</div>
	        	</div>
	        </a>
		</div>
	</div>
</body>

</html>
