<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>排版</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <ul class="side-nav col-md-3">
                <li class="side-nav__item"><a href="javascript:void(0);">链接</a></li>
            </ul>

            <div class="col-md-9">
                <a href="###">一个链接</a>
            </div>
        </div>

    </div>
</body>

</html>
