<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../assets/css/demo/demo-layout.css">
</head>

<body>
	<div class="container">
		<h2>两端对其</h2>
	    <div class="navs kite kite--justify">
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航1</div>
	        </a>
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航2</div>
	        </a>
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航3</div>
	        </a>
	        <a href="###" class="kite__item navs__item">
	        	<img src="" alt="" class="navs__item__pic">
	            <div class="navs__item__text">导航4</div>
	        </a>
	    </div>

		<h2></h2>
		<div class=" ">
			<a href="###" class="kite kite--justify">
				<div class="kite__item">aaa</div>
	        	<div class="kite__item">
	        		<div class="kite kite--justify">
	        			<div class="kite__item">
	        				bbb</div>
	        			<div class="kite__item">ccc</div>
	        		</div>
	        	</div>
	        </a>
		</div>
	</div>
</body>

</html>
