<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../assets/css/demo/demo.css">
</head>
<body>
	demo page~
	<div>
		<img src="../assets/image/demo/demo.jpg" height="207" width="216" alt="">
		<img src="../assets/image/demo/demo.gif" height="245" width="245" alt="">
		<img src="../assets/image/demo/demo.png" height="64" width="64" alt="">
	</div>
	<script src="../assets/vendor/jquery.js"></script>
	<script src="../assets/js/demo/demo.js"></script>
</body>
</html>