<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>一些使用技巧</title>
    <link rel="stylesheet" href="../assets/css/demo/demo-component.css">
</head>

<body>
    <img src="" alt="" class="place-holder-img">
    <div class="stretch">
        <div class="stretch__content">用绝对方式内容充满父级</div>
    </div>
    <div class="cross-browser">
        <h2>一系列浏览器兼容性较好的写法</h2>
        <div class="cross-browser__opacity">透明度写法</div>
        <div class="cross-browser__text-selection">文字选中时的样式(选中我~)</div>
        <div class="cross-browser__ellipsis">文字超出省略号。很长的文本很长的文本很长的文本很长的文本很长的文本很长的文本很长的文本很长的文本很长的文本很长的文本很长的文本</div>
        <div class="cross-browser__force-wrap--no">未强制换行。http://www.jianshu.com/users/EhUmA3/latest_articles/
        </div>
        <div class="cross-browser__force-wrap">强制换行（有时会出现很长的url或者很长的内容之间没用空格的，就需要）。如：http://www.jianshu.com/users/EhUmA3/latest_articles/
        </div>
        <div class="cross-browser__anim">
            <h2>动画</h2>
            <div class="cross-browser__anim__block"></div>
        </div>
        <div class="cross-browser__inline-block">
            <h2>inline block</h2>
            <div class="cross-browser__inline-block__item">a</div>
            <div class="cross-browser__inline-block__item">b</div>
        </div>
        <div class="cross-browser__border-radious">
            <h2>圆角</h2>
            <div class="cross-browser__border-radious__item"></div>
            <div class="cross-browser__border-radious__item"></div>
            <div class="cross-browser__border-radious__item"></div>
        </div>
    </div>
    <h2>背景图替代文字，并隐藏文本</h2>
    <div class="hide-text">smile</div>
</body>

</html>
